{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            {% if dept %}
            <div class="col-lg-9">
                <h2>Skolos</h2>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Nr</th>
                        <th>Studentas</th>
                        <th>Grupe</th>
                        <th>Apmokėta</th>
                        <th>Data nuo</th>
                        <th>Data iki</th>
                    </tr>
                    {% for d in dept %}
                        {% if d.FkPaymentId.confirmed == true %}
                        <tr>
                            <td>#{{  d.id }}</td>
                            <td>{{ d.FkStudentid.FkUserid.name }}</td>
                            <td>{{ d.FkStudentid.FkGroupsid.name }}</td>
                            {% if d.FkPaymentid.paid == true %}
                                <td>Taip</td>
                            {% else %}
                                <td>Ne</td>
                            {% endif %}
                            <td>{{ d.dateFrom|date('Y-m-d') }}</td>
                            <td>{{ d.dateTo|date('Y-m-d') }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
                <h2>Nėra skolų</h2>
            {% endif %}
        </div>
    </div>

{% endblock %}
